

<head>
    <link rel="stylesheet" href="~/css/UnexpectedError.css" asp-append-version="true" />
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>Unexpected Error occurred!</h2>
            </div>
            <a asp-controller="Home" asp-action="Index">Go TO Homepage</a>
        </div>
    </div>
</body>
