@model List<ProductModel>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-danger py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Products</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-12 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-danger">
                    <i class="bi bi-plus-circle"></i> Create new Product
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-question-lg"></i> Details
                                </a>
                            </div>
                            <div class="btn-group" role="group">
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-question-lg"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
