@model AddressModel

<form asp-action="Confirmation" asp-controller="Order" method="get">
	<br />
	<div class="container">
		<div class="card shadow border-0">
			<div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white">
							Checkout
						</h5>
					</div>
					<div class="col-6 text-end">
						<a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-outline-dark btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
                <input asp-for="Id" hidden />
                @* <div asp-validation-summary="ModelOnly"></div> *@
                <div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>                            
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="FirstName" class="form-control" />
                                   @*  <span asp-validation-for="FirstName" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="LastName" class="form-control" />
                                    @* <span asp-validation-for="LastName" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="Street" class="form-control" />
                                    @* <span asp-validation-for="Street" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Number</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="HouseNumber" class="form-control" />
                                   @*  <span asp-validation-for="HouseNumber" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="City" class="form-control" />
                                   @*  <span asp-validation-for="City" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="State" class="form-control" />
                                   @*  <span asp-validation-for="State" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="PostalCode" type="number" class="form-control" />
                                   @*  <span asp-validation-for="PostalCode" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Country</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="Country" class="form-control" />
                                   @*  <span asp-validation-for="Country" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input disabled asp-for="Phone" type="number" class="form-control" />
                                   @*  <span asp-validation-for="Phone" class="text-danger"></span> *@
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-4">
						<button type="submit" class="btn btn-primary form-control">Continue to Order Confirmation</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
