@model UserModel

<form class="form-signin" id="account" method="post">
    <div class="card">
        <div class="card-header text-center">
            <h4>Log in</h4>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email" class="form-label">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label class="form-label">Password</label>
                <span class="text-danger"></span>
            </div>
           @*  <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div> *@
            <div class="btn-group form-control" role="group">
                <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="row text-center">
                <p>
                    <a id="forgot-password" asp-page="">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="" asp-route-returnUrl="">Register as a new user</a>
                </p>

            </div>
        </div>
    </div>
    <hr />
</form>